<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OutputFolder" value="./Deployments" />
    <add key="SourcesFolderName" value="Sources" />
    <add key="PackagesFolderName" value="Packages"/>

    <add key="FtpUsername" value="autowaifu\autowaifu"/>
    <add key="Password" value="???"/>
    <add key="FtpHost" value="???" />
    <add key="FtpDeployBaseFolder" value="???"/>
    <add key="HttpDeployBaseFolder" value="???"/>

    <add key="ProjectName" value="AutoWaifu"/>
  </appSettings>
</configuration>